html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background-color: #333;
  background: url(http://i.imgsafe.org/b4bb69a.png) 50% #1e2226;
  font-family: 'Baumans', serif;
    
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#chatContainer{
display:none;
}

.jumbotron {
margin-bottom: 0 !important;
}

.navbar {
    z-index:999;
    -webkit-box-shadow: 0 10px 8px -8px #333;
    -moz-box-shadow: 0 10px 8px -8px #333;
    box-shadow: 0 10px 6px -8px #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: white;

  padding-top: 20px;
}